body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0%;
    align-items: center;
    background-color:lightpink;
}

.container {
  display: flex;
  width: 440px;
  flex-direction: column;
  height: 440px;
  background-color: white;
  border: 10px solid rgb(219, 255, 165);
  margin-left: 10rem;
  margin-top: 20px;
  box-shadow: 0px 0px 30px 0px ;
}

.control-panel {
  width: 220px;
  height: 430px;
  background-color: white;
  border: 20px solid rgb(219, 255, 165);
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  box-shadow: 0px 0px 17px 0px;
  margin-top: 7px;
}

button{
  margin-top: 30px;
  width: 100px;
  height: 40px;
  background-color: pink;
  box-shadow: 0px 0px 15px 0px black;
  font-style: italic;
}

.main-container {
  height: 1000px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-around;
  margin-top: 15px;
}

.title {
  font-size: 50px;
  margin: 30px;
  font-style: italic;
  color: rgb(255, 255, 255);
  font-weight: 900;
  box-shadow: 0px 0px 20px 0px rgb(59, 78, 7) ;
  width: 400px;
  text-align: center;
}



